
# Common settings
BasedOnStyle:  Google
TabWidth:        2
IndentWidth:     2
UseTab:          Never
ColumnLimit: 100
ColumnLimit: '0'

# Other languages JavaScript, Proto

---
Language: Cpp

BreakBeforeBraces: Allman
AlignConsecutiveMacros: true
